<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  direction: rtl;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

<div class="about-section">
     <h1><strong>מי אנחנו</strong></h1></strong></span><br />
     <span style="font-size: 12pt;"><strong>איך התחיל: העסק שלנו התחיל למעשה עוד בטרם למדנו ללכת. שנינו, גם אני וגם סיסו, נולדנו למשפחות של מגדלי פרחים ומכאן למעשה באה האהבה והתשוקה לדבר. לפני כעשור פתחנו חנות פרחים וכיום בבעלותנו שלוש חנויות: בקניון דרורים בני דרור, בקניון שבירו בכפר סבא הירוקה ובאזור התעשייה פולג בנתניה</strong></span></p>
<p><span style="font-size: 12pt;"><strong>אהבתנו לפרחים ולאנשים&nbsp;</strong></span>
    <span style="font-size: 12pt;"><strong><span style="font-family: Arial;">&nbsp;בפרחי חן גורמת לכך שאנו נותנים שירות יוצא מן הכלל, מפנקים בזרים מושקעים, רעננים וקוצרי מחמאות.
    <br /></span></strong>
    <strong style="font-size: 12pt;"><span style="font-family: Arial;">כל זר פרחים שלנו נשזר באהבה ובהשקעה</span></strong><strong><span style="font-family: Arial;">
        <br />פרחי חן בשרון הינה חנות פרחים כפרית.
        <br />את הפרחים והסידורים המרהיבים הנשלחים היישר מהשדה נשלח עבורכם באהבה ובהקפדה.<br />
        <br />כל הסגנונות החדשניים, הצבעים, העיצובים,&nbsp;השילובים המדהימים באיכות הגבוהה ביותר.
        <br /><br />פרחים לכל האירועים:<br />
        <br />&bull; זרי פרחים ססגוניים
        <br />&bull; סידורי פרחים מיוחדים
        <br />&bull; זרי כלה
        <br />&bull; קישוטי רכב
        <br />&bull; עיצוב אירוע חתונה : פרחים לחופה, פרחים לשולחנות,
        <br />&bull; פרחים לימי הולדת
        <br />&bull; פרחים לאהבה
        <br />&bull; פרחים לחגים
        <br />&bull; פרחים בחבילות &ndash;מחיר סיטונאי
        <br />&bull; זרים לכל מטרה ולכל בקשה אחרת
        <br /><br />* הפרחים שלנו-פרחי חן הממוקמת באיזור כפרי מסביבה המון מגדלי פרחים וענפי קישוט לפרחים,
        <br />מה שיוצא מכך שהפרחים שלנו מגיעים ישירות מהמגדלים וללא פערי תיווך מיותרים.
        <br /><br />הזמנות
        <br />הזמנות המתקבלות בפרחי חן מטופלות במקצועיות רבה, ושמה דגש על טריות הזרים, מהרגע שהם יוצאים ממפתן דלתנו ועד
        <br />הגעתם ללקוח הם נמצאים במים ומטופלים במרב הדאגה משלוחי הפרחים מבוצעים ברכבים ממוזגים.
        <br /><br /><br />משלוחי פרחים
        <br />פרחי חן בשרון מבצעת משלוחי פרחים באיזור השרון בלבד ליישובים נתניה רעננה כפר סבא אבן יהודה תל מונד צורן קדימה כפר יונה וכל היישובים שבינהם אנו מבצעים משלוחים אך ורק ליישובים אליהם יש באפשרותנו לשלוח את הפרחים בעצמנו ולעלום לא נשלח פרחים דרך חנות פרחים אחרת&nbsp;<br /><br />ניתן לבצע הזמנות של משלוחי פרחים בטלפון בין השעות 8:00 בבוקר ועד 20:00 בערב, הזמנות באתר &nbsp;מתקבלות 24 שעות ביממה<br />
        <br />משלוחי פרחים באתר פרחי חן מתואמים עם מקבל/ת הפרחים תוך וידוי הכתובת ומגיעות כאשר מקבלן נמצא ביעד בו אמורים הפרחים להישלח אלא אם מזמין זר הפרחים מבקש אחרת
        <br /><br />פרחים המגיעים מהחקלאי הישר לפרחי חן, מטופלים ומוחזקים בתנאים אופטימליים אנו משתמשים בחדר קירור שבו מוחזקים הפרחים בטמפרטורה של 4מעלות. הפרחים אינם יוצאים מחדר הקירור עד לשלב שהפרחים נשזרים. הפרחים אינם מוחזקים בתצוגה . בעת ההזמנה הפרחים נשזרים ויוצאים למשלוחי הפרחים היישר ללקוחותינו.שימוש בתנאי תחזוקה אלו מעלים את זמן חיי המדף של הפרח .
        <br /><br />משלוחי פרחים מגיעים ליעדם באמצעות רכב בלבד, בעל מיזוג אויר והפרחים נמצאים בדליי מים עד שמשלוח הפרחים מגיע ליעדו .
        <br /><br />באתר פרחי חן ניתן להתרשם ולרכוש ממגוון זרי הפרחים בכניסה לקטגוריות השונות כמו : פרחים, זרי פרחים ניתן לשלב יחד עם משלוחי הפרחים בקבוק יין, שמפניה, שוקולד איכותי, דובונים, פרפרים, פסלונים ועוד שאותם ניתן לשלוח עם זר הפרחים, דבר המשדרג את המתנה ומשמח את מקבלה.
        <br /><br />עוד באתר אנו מבצעים משלוחי צמחים בעציצים מכל מיני סוגים צמחים פורחים או ירוקים חד שנתיים או רב עונתיים המתאימים לבית או למשרד .<br /><br />מלבד לזרי הפרחים ניתן להתרשם ולרכוש באתר פרחי חן זרים מתוקים, קיים מבחר מתוק מתוק של זרים מתוקים לכל אוהבי מתוק בכניסה לקטגוריה זרים מתוקים , אנו משתמשים בשוקולדים איכותיים ובסוכריות טעימות לחיך .
        <br /><br />בקטגוריה סידורי פרחים מוצגים סידורי פרחים בכל מיני צורות וסגנונות , סידורי פרחים המתאימים לשולחן אורחים או לבר, בכלים מיוחדים ובסלסלאות , סידורי פרחים מיוחדים המעוצבים מפרחים מיוחדים ויוקרתיים כגון סחלבים או אנטוריון .
        <br /><br />עיצוב פרחים לחתונה זאת המומחיות שלנו , פרחי חן מבצעת עיצובי פרחים לחופה, אנו משתמשים בכלים מיוחדים לעיצוב<br /><br />עוד במועדון הלקוחות: ניתן לנהל אירועים חשובים, לדוגמא אם יש יום הולדת חשוב ואתם רוצים לשלוח פרחים ליום ספציפי הכניסו ביומן התזכרות את תאריך היום הולדת והמערכת תשלח אליכם למייל תזכורת שצריך לשלוח פרחים ביום ובמועד.</span><br />
        <br /><span style="font-family: Arial;"><span style="color: #cc3366; font-size: medium;">גם הלקוחות ממליצים עלינו:</span></span></strong></span></p>
<p><span style="font-family: Arial;">- ״הזמנתי זר פרחים ססגוני מפרחי חן לכבוד יום הנישואין שלנו, ואני חייבת לומר שמעולם לא היתה לי חווית קניה כל כך טובה. הפרחים הגיעו טריים, במהירות ואייל אפילו פינק אותנו בשוקולדים מיוחדים לכבוד יום הנישואין שלנו. אני ממליצה בחום!״ (דנה ויעקב פרומן, תל יצחק)</span></p>
<p><span style="font-family: Arial;">- ״אני חושב שהמשלוח של פרחי חן הוא המהיר באזור. עשינו מסיבת יום הולדת להורים שלי ושכחנו להזמין פרחים עד יום האירוע, ומהרגע שהתקשרנו לפרחי חן עד שהפרחים הגיעו אלינו עבר זמן קצר ביותר״ (ג׳קי, רעננה)</span></p>
<p><span style="font-family: Arial;">- ״אין מה לומר - אתם גדולים מהחיים! תודה רבה על הבלונים ששלחתם לנו״ (שרה וינשטוק, אבן יהודה)</span></p>


</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="images/sisu.jpg" alt="Dvir"  style="width:400px; height:400px ;">
      <div class="container">
        <h2>Dvir Sivan</h2>
        <p class="title">CTO & Founder</p>
        <p>Flours is my life</p>
        <p>Dvis@Larisa.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/Yair.jpeg" alt="Yair" style="width:500px; height:400px">
      <div class="container">
        <h2>Yair Bartfeld</h2>
        <p class="title">CEO & Founder</p>
        <p>I love flours more than humens</p>
        <p>Yaib@Larisa.com</p>
      </div>
    </div>
  </div>
  
  
  
  

</body>
</html>
