
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">Love to Hear From You</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                

                <div class="find-widget">
                 Company:  <a href="#Contact">Larisa</a>
                </div>
                <div class="find-widget">
                 Address: <a href="#Contact">Jerusalem, Haatzel</a>
                </div>
                <div class="find-widget">
                  Phone:  <a href="#Contact">+ 879-890-9767</a>
                </div>
                
                <div class="find-widget">
                  Website:  <a href="#Contact">www.Larisa.ro</a>
                </div>
                <div class="find-widget">
                   Program: <a href="#Contact">Mon to Sat: 09:30 AM - 09.31 AM</a>
                </div>
              </div>
             
          </div>
      </div>
    </section>